
@keyframes animatedBackground {
	
	from { background-position: 0 0; }
	to { background-position: 10% 100%; }
}

body.animated {
	
	animation: animatedBackground 30s linear infinite;
}

#message-overlay h1 {

	color: black;
	font-family: "Century Gothic";
    font-size: 20vw;
	font-variant: small-caps;
    opacity: 0;
	
	text-shadow: 0 1px 0 rgb(51, 51, 51), 0 2px 0 rgb(54, 54, 54), 0 3px 0 rgb(68, 68, 68), 0 4px 0 rgb(70, 70, 70), 0 5px 0 rgb(85, 85, 85), 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
	transition: 1s font ease-in-out, 2s opacity linear;
}

.ui-message {
	
	background-color: var(--main-bg-color);	
	color: var(--main-fg-color);
    font-size: 1.5em;
    padding: 8px 14px 12px 14px;
    border-radius: 15px;
    vertical-align: top;
    opacity: 0;
	
	transition: 2s opacity linear;
}

.ui-message .close {
	
	color: gray;
	padding-left: 16px;
	cursor: pointer;
    font-size: 1em;
}

#ui-variables div {
	
	transition: text-shadow 1s ease-in-out;
}

#ui-variables .highlightUIItem {
	
	text-shadow: 1px 1px 3px white;
}

.buildStructure {
	
	transition: text-shadow 2.5s ease-in-out;
	text-shadow: 1px 1px 0 rgba(204, 204, 204, 1), 2px 2px 0 rgba(201, 201, 201, 1), 3px 3px 0 rgba(187, 187, 187, 1), 4px 4px 0 rgba(185, 185, 185, 1), 5px 5px 0 rgba(170, 170, 170, 1), 6px 6px 1px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

	/* TODO: This 
.menu {
	
	-webkit-mask: url('../img/stardust.png');
}
	*/

.buildMenuItemUpdate {
	
	background-size: 300%;
	
	transition : all 1s ease-in-out;
}
