:root {
  --main-fg-color: #05668D;
  --main-bg-color: #CEBD9A;
  
  /* Battlefield 1: 
  --main-fg-color: rgb(101, 153, 200);
  --main-bg-color: rgb(183, 145, 108);
  */
  
  --enemy-color: #C92E2C;
  /* others: 56153D, 028090,00A896,02C39A */
  --ui-opacity: .85;
  --monolith-opacity: .42;
  
  /* --block-size: 64px; */
  --block-size: 1em;
  --main-bg-color-rgba: rgba(206, 189, 154, var(--ui-opacity));
}

* {
	/* font-family: Gotham, Georgia; */
	font-family: Georgia; 
}

body, html, #main, #message-overlay {
    width: 100%;
    height: 100%;
}

body {
	/* https://codepen.io/saransh/pen/BKJun */
	background-image: url('../img/stardust.png');
	background-repeat: repeat;
	
   -webkit-user-select: none;
   -moz-user-select: none;
	user-select: none; 
	
	overflow: hidden;
	perspective: 3000;
	
	font-size: 5vw;
}

#main, #message-overlay {		
    display: table;
}

#main {
	z-index: 5;
}

#wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}

#ui-map .row {
    margin-bottom: -.2vw;  /* TODO: Fix it so that this doesn't need to be here. ... */
}

.monolith-floor .row {
	
    display: inline-block;
    margin: 0px 3vw;
}

.monolith-floor .col, #ui-map .fa {
	display: inline-block;
	border: 1px solid #666;
	width: var(--block-size);
	height: var(--block-size);
	background-color: rgba(255, 255, 255, var(--monolith-opacity));
	transition: all .2s ease-in-out;
	
	vertical-align: text-bottom;
    font-size: 3em;
    text-align: center;	
}

#ui-map .fa {
	padding: 0;
	margin: 0;
}

.monolith-floor {
    transform: rotateX(45deg) rotateZ(45deg);
}

.monolith-floor .col:before {
	vertical-align: middle;
}

.monolith-floor .row:first-child .col:first-child {	
    border-top-left-radius: 2em;
}

.monolith-floor .row:first-child .col:last-child {	
    border-top-right-radius: 2em;
}

.monolith-floor .row:last-child .col:first-child {	
    border-bottom-left-radius: 2em;
}

.monolith-floor .row:last-child .col:last-child {	
    border-bottom-right-radius: 2em;
}

#monolith .col:hover, #monolith .col.active {
	border: 1px solid var(--main-fg-color);
	/* TODO: Add 'glow' shadow */
	z-index: 9;
}

#monolith .col:hover { 
	transform: scale(1.1);
}

#monolith .col.flip-vertical:hover { 
	transform: rotateZ(180deg) scale(1.1);
}

#newFloor .col {
	background-color: white;
	opacity: 0;
}

.col.fa-stack .fa {
	line-height: 1.2em;
    margin-top: .1vw;
}

.col .fa.Bunk.Beds {
	line-height: 2em;
}

.col .fa.Bunk.Beds {
  margin-top: -6px;
}

.col .fa.Bunk.Beds ~ i {
  margin-top: -12px;
}

#message-overlay {
	position: absolute;
	z-index: -5;
}

#message-overlay div {
	text-align: center;
    display: table-cell;
}

#ui-map.mcfattys:before {
	content: 'M';
}

#monolith .fa {
	font-size: .75em;
}

.enemy {
	position: absolute;
    color: red;
    opacity: .65;
}