#ui-map .fa {	
    transform: rotateX(60deg) rotateZ(45deg);
}

/* TODO: Check on deleting this */
.flip-vertical {
	transform: rotateZ(180deg);
}

#ui-variables {
	position: absolute;
	right: 0;
	top: 0;
	color: var(--main-bg-color);
	/* background-color: var(--main-bg-color); */
	opacity: var(--ui-opacity);
}

#ui-variables div {
	display: inline-block;
	padding: 2px;
	margin: 2px;	
}

#ui-variables div { /*, #ui-variables i { */
	
	text-shadow: 2px 2px 0px black;	
}

.menu {	
	display: inline-block;
	text-align: center;
	max-width: 50%;
	min-width: calc(var(--block-size) * 4.2);
	border-radius: 4px;
	/*
	border: 1px dashed var(--main-bg-color-rgba);
	*/
	
	/*
	background-color: rgba(255, 255, 255, var(--ui-opacity));
	background-color: var(--main-bg-color-rgba);
	color: var(--main-fg-color);
	*/
	color: var(--main-bg-color-rgba);
	/*
	background-color: var(--main-fg-color);
	*/
	text-shadow: 1px 1px 0px black;
	
    background-color: rgb(42, 91, 111);
    opacity: .9;
	
	position: absolute;
	left: 100%;	
	top: 50%;
	z-index: 5;
	
	transition: transform 1s; 
	/* TODO: Make description height kind of fixed for minimum description, and flex to height change ... */
}

.description:before {
	font-weight: bold;
}

.menu:not(#ui-map) > div {
	display: inline-block;
	margin: 8px;
	cursor: pointer;
	
    /* padding: 4px; */
}

.menu .fa {
		
    font-size: 3em;
}

.menu .disabled {
	
	color: gray;
	cursor: not-allowed;
}

.menu :not(#lab-research) .fa:not(:first-child) {
	font-size: 1.5em;
}

.menu:not(#ui-map) div {
	display: inline-block;
	vertical-align: top;
}

#ui-map .fa {
	border: 1px solid black;
}

#btn-reset-monolith-rotation {
	position: absolute;
	bottom: 32px;
	display: none;
	z-index: 5;
	color: var(--main-fg-color);
	background-color: var(--main-bg-color);
}

#ui-variables .fa {
	font-size: 1.3em;
}

#ui-map {
	position: absolute;
	left: 0px;
	top: 50%;
	background: none;
	border: none;
	opacity: 0;
	
	min-width: calc(var(--block-size) * 2);
	
	transition: opacity 2s ease-in-out;
}

#ui-map .row:not(:first-child) {
	margin-top: calc(var(--block-size) * -.65);
}

#ui-map .currentFloor {
	background-color: var(--main-bg-color);
	transition: background-color 1s ease-in-out;
}

.menu div {
	cursor: pointer;
}