    /*
    Flaticon icon font: Flaticon
    Creation date: 03/10/2016 06:45
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-alien-of-outer-space:before { content: "\f100"; }
.flaticon-eye-with-tentacles:before { content: "\f101"; }
.flaticon-japanese-dragon:before { content: "\f102"; }
.flaticon-robot-monster-of-one-eye:before { content: "\f103"; }
.flaticon-skull:before { content: "\f104"; }
.flaticon-stairs:before { content: "\f105"; }
    
    $font-Flaticon-alien-of-outer-space: "\f100";
    $font-Flaticon-eye-with-tentacles: "\f101";
    $font-Flaticon-japanese-dragon: "\f102";
    $font-Flaticon-robot-monster-of-one-eye: "\f103";
    $font-Flaticon-skull: "\f104";
    $font-Flaticon-stairs: "\f105";